---
---

  //@import "{{ site.theme }}";

  // Reset CSS

  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0.5;
}

// Our styles after this

html, body, .wrapper {
  height: 100%;
}

h1 {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  padding: 0em 0.25em 0em 0.25em;
  font-weight: bold;
}

h2, h3 {
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  padding: 0em 2.5em 0m 0.1em;
  font-weight: bold;
}

h4, h5, h6 {
  padding: 2em 2.5em 1em 0.5em;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 900;
}

p.bold {
  font-weight: 100;
}

p.b {
  font-style: italic;
}


body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;

  background-image: url("/images/b6ZG80vTDWYiMlgaEzCF_TW0Xt2m2584OU146.jpeg");
  background-attachment: fixed; 
  background-size: cover;
  
  
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: rgb(35, 35, 42);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  max-height: 40px;
  width: auto;
  margin-right: 0.6rem;
  margin-left: 5rem;
  margin-top: 0.5rem;

  

}

.navbar-span {
 font-size: 20px;
 color: #ffffff;

}


.navbar-title {
  font-size: 1rem;
  font-weight: bold;
  color:rgb(255, 255, 255);
  flex: 1;
  text-align: left;
  margin-left: 0.5rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.navbar-links a {
    color:rgb(255, 255, 255);
    margin-right: 1rem;

}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;

  background-color: #fefefe9c;
  color:rgb(0, 0, 0);

  width: 30rem;
  max-width: 860px;
  margin: 0 auto;
  margin-top: 28%;
  padding: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  & > #menu {
    float: right;
  }

  & > .wrapper {

    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    flex-wrap: wrap;

    & > header {

      width: 90vw;
      max-width: 860px;
      margin: 0 auto;
      padding: 0;
      //text-align: center;
      color: #000000;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;

      background-color: #fefefec0;

      & > h1 {

        color: #000000;

        img {
          width: 90%;
          max-width: 64px;
          height: auto;
        }

      }

      h2 {
      }

      & > p {
        margin: 1em 0;
      }

    } // .header


    & > section {

      flex-grow: 1;
      width: 90vw;
      max-width: 860px;
      margin: 0 auto;
      padding: 0 1em 0 1em;
      border-bottom: 1px solid #465b2b;
      color: #000000;
      background-color: #ffffffc0;

      & > .content {

        margin: 0;
        padding: 0 1em 1em 1em;
        max-width: 100vw;

        p {
          padding: 0.5em 0.5em;
        }

        & > ul {
          padding: 0.5em 0.25em;

          & > li {

            padding: 0.5em 0 0.5em 0.5em;

          }

        }

      }

      & > .date {

        padding: 1em;
        font-size: 1em;
        font-style: italic;

      }

    } // section


    & > footer {

      margin: 0;
      padding: 0;
      // flex-grow: 1;
      width: 90vw;
      max-width: 860px;
      margin: 0 auto;
      padding: 0;
      border-bottom: 1px solid #ffffff;

      & > .latest-posts {

        border-bottom: 1px solid #fcfcfc;
        color: #000000;
        background-color: #ffffffc0;
        max-width: 860px;
        margin: 0 auto;
        padding: 0.1em 0 1em 0;

        & > ul {

          margin: 0;
          padding: 0;

          & > li {

            margin: 0;
            padding: 0.5em;

            & > a {

              color: #000000;
              margin: 0;
              padding: 0;

            } // a

          } // li

        } // ul

      }

      & > .sitemap-container {

        margin: 1em 0 1em 0;
        padding: 0;
        background-color: #ffffffc0;
        color: #000000;

        @media screen and (min-width: 64em) {
          padding-top: 0.3em;
          padding-bottom: 0.3em;
        }

        & > .sitemap-grid {

          margin: 0 auto 0 auto;
          padding: 0;
          width: 100%;

          @media screen and (min-width: 64em) {
            width: 60em;
          }

          @media screen and (min-width: 48em) {
            width: 45em;
          }

          @media screen and (min-width: 35.5em) {
            width: 100%;
          }

          & > .sitemap {

            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 0.8em;
            margin-left: 1em;
            margin-right: 1em;

            & > .sitemap-links {
              // background-color: #465b2bc0;
              color: #000000;
              text-align: center;

              & > span {

                & > a {
                  color: #000000;
                  text-decoration: none;
                  border: 0;
                  outline: 0;
                }

                & > a:visited {
                  color: #000000;
                }

              }

            }

          }

        }

      }

      & > .copyright {

        padding: 1em 6em;
        font-size: 1em;
        text-align: right;

      }

    } // footer


  } // .wrapper

} // body